<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <br />
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h2 class="text-center"><%= name %></h2>
          <br />
          <p><%= desc %></p>
          <br />
          <div class="d-flex justify-content-center">
            <a
              class="font-weight-bold"
              style="color: #9e48a9; text-decoration: underline"
              href="/film/category/<%= id %>"
            >
              View All <%= name %> Films
            </a>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </main>
    <br />
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
