<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Book Detail</h1>

        <h2><%= film.name %></h2>
        <p><%= film.director %></p>
        <p><%= film.price %></p>
        <p><%= film.availability %></p>
        <p><%= category %></p>

        <img src="<%= image %>" />

        <a href="/film/<%= film._id %>/edit">Edit</a>
        <br />

        <form action="/film/<%= film._id %>/delete" method="post">
          <button name="delete" value="delete">Delete</button>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
