<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <br />
          <h2><%= film.name %></h2>
          <br />
          <p><%= film.director %></p>
          <p><%= film.price %></p>
          <p><%= film.availability %></p>
          <p><%= category %></p>
          <br />
          <form action="/film/<%= film._id %>/edit">
            <input type="submit" value="Edit" />
          </form>
          <form action="/film/<%= film._id %>/delete" method="post">
            <button name="delete" value="delete">Delete</button>
          </form>
          <hr />

          <img
            class="w-100 h-100"
            src="<%= image %>"
            style="max-width: 300px; max-height: 400px"
            alt="Card image"
          />
        </div>
        <div class="col-sm-4"></div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
